@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KoPubWorld Batang Light';
  src: url('../../public/fonts/KoPubWorld Batang Light.ttf');
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: 'KoPubWorld Batang Light', 'KoPubWorld Batang Light';
}
#root {
  line-height: 1;
}
