@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KoPubWorld Batang Light';
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.woff')
      format('woff');
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: 'KoPubWorld Batang Light', 'KoPubWorld Batang Light';
}
#root {
  line-height: 1;
}
